<!DOCTYPE html>
<html>
<head>
    <title>Seale Pi TV</title>
</head>
<body>
<h1>Welcome to Seale TV.</h1>

<p>Input a URL to play below.</p>

<div style="margin-bottom: 10px;">
    <input type="text" id="videoUrl"><br>
    <input type="checkbox" id="watchLong">Watch Long Video (Must manually turn off TV via below)
</div>
<button id="start">Start</button>
<button id="off">Turn Off TV</button>


<div id="message"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>

    function showSuccess(message) {
        var m = $('#message');
        m.empty();
        m.html('<p style="display: table; color: darkgreen; border: 2px solid darkgreen; padding: 10px"><strong>' + message + '</strong></p>');
    }
    function showError(message) {
        message = message || "ERROR OCCURRED";
        var m = $('#message');
        m.empty();
        m.html('<p style="display: table; color: red; border: 2px solid red; padding: 10px">' + message + '<strong></strong></p>');
    }

    function submit() {
        showSuccess('Playing Video...');
        var url = $('#videoUrl').val();
        var watchLong = $('#watchLong').is(':checked');
        var data = {
            videoUrl: url
        };
        if (!!watchLong) {
            data.watchLong = true;
        }
        $.ajax({
            type: "POST",
            url: '/watch',
            data: data,
            success: function () {
                showSuccess("Video Completed!");
                setTimeout(function () {
                    $('#message').empty()
                }, 5000);
            },
            error: function (xhr, status, error) {
                showError(xhr.responseText);
            }
        });
    }
    function turnOff() {
        $.ajax({
            type: "POST",
            url: "/off",
            data: {},
            success: function () {
                showSuccess("TV Turned Off");
                setTimeout(function () {
                    $('#message').empty()
                }, 5000);
            },
            error: function (xhr, status, error) {
                showError(xhr.responseText);
            }
        })
    }

    $('#start').on('click', submit)
    $('#off').on('click', turnOff)

</script>
</body>
</html>